.phrase-center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.phrase-current {
    font-size: 2rem;
    font-style: italic;
}

.center-input {
    width: 23ch;
}

.phrase-button {
    display: flex;
    flex-direction: row;
}

.phrase-button button{
    margin: 0.5rem;
}