.header {
    display: flex;
    margin: 1rem 3rem;
}

.header-container-section {
    display: flex;
    gap: 20vw;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.search-input {
    width: 15vw;
    box-sizing: border-box;
}

.header-profile p {
    color: white;
}

.header-title-icon a {
    display: flex;
    flex-direction: row;
    text-decoration: none;
}
